# Rust build artifacts
/target

# Log files
*.log

# Temporary debug images
*.ppm
*.png
*.jpg
*.jpeg

# ROM files (copyright protection)
*.nes

# Ignore all agent folders
.agents/

# Web Build & Node Artifacts
/dist
/pkg
/node_modules
package-lock.json

# External test roms repository
/tests/external_test_roms/

# Local scratch directory
/scratch/

# Test results
/test-results/
